<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Font and Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="../public/CSS/navbar.css">
    <link rel="stylesheet" href="../public/CSS/styles.css">
    <link rel="stylesheet" href="../public/CSS/network.css">

    <style>
        @media (max-width: 700px) {
            #send-button {
                right: 20vw !important;
            }
        }
    </style>
</head>
<body class="transition-colors duration-300 overflow-hidden">
    <nav class="flex items-center justify-between gap-8 h-12 w-full min-w-full text-md font-semibold fixed">
        <div class="nav-left flex items-center justify-evenly pl-3 gap-6 ">
            <a href="/" class="fa-brands fa-linkedin text-3xl text-purple-600"></a>
            <a href="./networks.html" class="myNetwork text-white text-nowrap">My Network</a>
            <a href="./networks.html" class="fa-regular text-white  fa-heart text-xl hidden"></a>
            <a onclick="showMenuPanel()" class="fa-solid fa-ellipsis-vertical cursor-pointer text-white  text-2xl"></a>
        </div>
        <div class="nav-center flex items-center justify-between w-96">
            <form class="flex items-center min-w-sm w-full mx-auto">   
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <input type="text" id="simple-search" class=" border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-fuchsia-500 block w-full p-2.5 bg-transparent" placeholder="Search" required />
                </div>
                <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-gray-700 rounded-lg border border-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-fuchsia-300 ">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </form>

        </div>
        <div class="nav-right flex items-center justify-evenly pr-3 gap-6">
            <a href="./jobs.html" class="material-symbols-outlined text-white text-2xl">work</a>
            <a href="./notification.html" class="fa-regular fa-bell text-white text-2xl"></a>
            <a href="/" class="premium flex text-white items-center justify-evenly gap-2 bg-gray-900 rounded-lg px-1">
                <span class="material-symbols-outlined text-2xl">workspace_premium</span>
                <p class="text-nowrap">Try Premium</p>
            </a>
            <a href="/" class="premium-icon material-symbols-outlined text-2xl hidden">workspace_premium</a>
            <a href="./profile.html" class="fa-regular fa-user text-xl rounded-full border-black border-2 w-8 h-8 text-center bg-fuchsia-400 text-white border-none"></a>
        </div>
    </nav>
    <div class="h-12"></div>
    <div class="menu-panel hidden w-40 h-auto fixed top-14 left-10 p-4" style="background-color: #0E0E10;">
        <a href="./msg.html" class="text-lg hover:bg-fuchsia-800 rounded-lg p-1">Messaging <i class="fa-solid fa-envelope"></i></a>
    </div>
    <div class="main flex">
        
        <!-- LinkedIn News - Left-side -->
        <button onclick="showPanel()" class="fa-solid fa-arrow-right-long text-xl font-bold hidden bg-zinc-500 w-10 h-10 text-white" id="show-panel-btn"></button>
        <div class="news-panel flex flex-col w-60 p-3 bg-zinc-100">
            <div class="news-top flex items-center justify-between pb-3">
                <h3 class="text-xl font-bold">LinkedIn News</h3>
                <button onclick="hidePanel()" class="fa-solid fa-arrow-left-long text-xl font-bold bg-zinc-500 w-10 h-10 text-white"></button>
            </div>
            <p class="text-md font-semibold pb-1">Top Stories</p>
            <div class="news-panel-content w-56 overflow-y-auto">
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">Logistics goes local</h3>
                    <p>17h ago <span class="text-lg font-semibold">&#183;</span> 5,995 readers</p>
                </div>
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">Innovative Tech Trends</h3>
                    <p>2d ago <span class="text-lg font-semibold">&#183;</span> 12,876 readers</p>
                </div>
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">Healthcare Advances</h3>
                    <p>5h ago <span class="text-lg font-semibold">&#183;</span> 8,432 readers</p>
                </div>
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">Global Market Insights</h3>
                    <p>1d ago <span class="text-lg font-semibold">&#183;</span> 10,321 readers</p>
                </div>
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">Sustainability Efforts</h3>
                    <p>3d ago <span class="text-lg font-semibold">&#183;</span> 4,756 readers</p>
                </div>
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">Startups to Watch</h3>
                    <p>10h ago <span class="text-lg font-semibold">&#183;</span> 6,215 readers</p>
                </div>
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">AI in Daily Life</h3>
                    <p>8h ago <span class="text-lg font-semibold">&#183;</span> 9,874 readers</p>
                </div>
                <div class="pb-3">
                    <h3 class="font-semibold text-lg">Financial News</h3>
                    <p>4d ago <span class="text-lg font-semibold">&#183;</span> 7,564 readers</p>
                </div>
            </div>
        </div>

        <div class="main-content-center flex flex-col h-screen overflow-y-auto" data-scroll-container>
            <div class="w-full h-full flex flex-col items-center mt-6">
                <div class="profiles flex justify-evenly gap-8 items-center overflow-x-auto h-32">
                    <img class="w-12 h-12 rounded-full cursor-pointer hover:border-fuchsia-500 hover:border-2" src="https://media.licdn.com/dms/image/D4E03AQGBGv_RrfJ4ZQ/profile-displayphoto-shrink_400_400/0/1711666003852?e=1721865600&v=beta&t=Q3d7rQVo5OlKWX0GO2i_0_72DeGajKpwSCNzdeNGb28" alt="">
                    <img class="w-12 h-12 rounded-full cursor-pointer hover:border-fuchsia-500 hover:border-2" src="https://media.licdn.com/dms/image/D5603AQHv6LsdiUg1kw/profile-displayphoto-shrink_100_100/0/1695167344576?e=1721865600&v=beta&t=HxYKxdw7bbaduF4oseGh9Chcm-m_D93I89Gkzf6wXxw" alt="">
                    <img class="w-12 h-12 rounded-full cursor-pointer hover:border-fuchsia-500 hover:border-2" src="https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/man-user-circle-icon.png" alt="">
                    <img class="w-12 h-12 rounded-full cursor-pointer hover:border-fuchsia-500 hover:border-2" src="https://media.licdn.com/dms/image/D4D03AQGDfUL_DqQLhw/profile-displayphoto-shrink_400_400/0/1701878724181?e=1721865600&v=beta&t=ePZuqIZYdSdea3coyNAWYw9yn_QWpAQfSpBpmzrAJAU" alt="">
                    <img class="w-12 h-12 rounded-full cursor-pointer hover:border-fuchsia-500 hover:border-2" src="https://media.licdn.com/dms/image/D4D03AQFENVbPpEfytA/profile-displayphoto-shrink_100_100/0/1709326420182?e=1721865600&v=beta&t=jLr1RbHV5DVRiXLFPY-PJkTKMDv-jQm8vHzAjKumfog" alt="">
                    <img class="w-12 h-12 rounded-full cursor-pointer hover:border-fuchsia-500 hover:border-2" src="https://media.licdn.com/dms/image/D5635AQEa64Y6FKiSZQ/profile-framedphoto-shrink_400_400/0/1712570915728?e=1716930000&v=beta&t=-Aa-eOAhEggQX9eDoyA4IKkW3ZCdcmSgcgft4eIXty0" alt="">
                    <img class="w-12 h-12 rounded-full cursor-pointer hover:border-fuchsia-500 hover:border-2" src="https://media.licdn.com/dms/image/D5603AQGoZdR8s8rWew/profile-displayphoto-shrink_400_400/0/1712496842824?e=1721865600&v=beta&t=0jYSwTJLULkV3SHlt8mrtUegTB_W57-rvzM72f5c7KU" alt="">
                </div>
                <h1 class="text-2xl font-semibold bg-fuchsia-900 px-2 py-1 mt-10 rounded-3xl">User</h1>
                <div id="chat-container" class="chat-container flex flex-col w-9/12 bg-zinc-900 border-zinc-800 border-2 mt-4 rounded-xl p-4 h-screen overflow-y-auto gap-4">
                    <div class="received-msg text-start">Hello 🙏</div>
                    <div class="send-msg text-end">Hey, How are you?</div>
                    <input class="bg-transparent fixed" type="text" id="input" placeholder="Write Msg..." style="bottom: 10px; width: 50vw;">
                    <button class="fa-regular fa-paper-plane fixed w-8 p-2 bg-fuchsia-900 rounded-lg" style="bottom: 15px; right: 13vw;" type="submit" id="send-button"></button>
                </div>
            </div>


        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="../public/JS/script.js"></script>
    <script src="../public/JS/network.js"></script>
    <script src="../public/JS/msg.js"></script>
</body>
</html>